
*{
	margin: 0;
	position: 0;
	font-family: 'Roboto', sans-serif;

}
	
header{
	width: 100%;

}

header nav {
width: 90%;
margin:20px auto;
max-width: 1000px;
background-color: fff;

}

.menuBAR{

	display: none;
}

header nav ul {
	overflow: hidden;
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {

color: #000022;
padding: 20px;
display: block;
text-decoration: none;


}

header nav ul li span  {
	margin-right: 10px;
}

header nav ul li a:hover {
	background: #fd4634;
}

section {
	padding: 20px;
}

@media screen and ( max-width: 800px) {

header nav  {
	width: 80%
	height:100%;
	margin: 0;
	position: fixed;
}

header nav ul li {
	display: block;
	float: none;
	border-bottom:1px solid rgba(255,255,255, .3);
}

.menuBAR {
	display: block;
	width: 100%;
	background: #ccc;


}

.menuBAR .bt-menu{
	display: block;
	padding: 20px;
	background: #fff;
	color:#000022;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}	

.menuBAR span {
	float: right;
	font-size: 40px;

}
}


.franja  {
	background-color: #000022;
	text-align: center;
}

.grid {

	padding: 0;
	margin: 0;

display: grid;
/* 2 columnas */

grid-template-columns: 200px 200px 200px;

/* 2 filas */
grid-template-rows: 100%;

justify-content: center;


}

.grid img{

margin-left: : 10;

}
.grid h1{
	color: #fd4634;
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 0;
	margin: 0;
	justify-content: center;

}
.grid h2 {
	color: #fff;
	font-size: 12px;
	background-color: #fd4634;

	font-family: 'Montserrat', sans-serif;
	text-align: center;

}

.grid h3{
	color: #fd4634;
	font-size:12px;
	font-weight: normal;
	text-align: center;

}

.menu a {
	color: 000000;
	font-size: 1,25em;
	font-family: serif;
	display: inline-block;
	margin: 15px;
	padding: 10px 0px;
	 text-align: center;
	 width: 150px;
	 text-decoration: none;

}

.logo2{
	text-align: center;

}



.aLOScostados h1 {

font-size: 48px;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
	position: absolute;

}
.aLOScostados img {

	position: relative;
}

.banner {
	background-image: url(../imagenes/jenga2.png);
	background-repeat: no-repeat;
	background-image: fixed;
	color: #fd4634;
	text-align: center;
}

.banner h2{
	font-size: 48px;
	font-weight: bolder;
	font-family:'Roboto', sans-serif;


}

.banner h3{

	background-color: #fd4634;
	display: inline-block;
	color:#fff;

}



.grid2{

	padding: 0;
	margin: 0;

display: grid;
/* 2 columnas */

grid-template-columns: 20% 20% 20%  20%	20% ;

/* 2 filas */
grid-template-rows: 100%;




}


.grid2 div{

	color: #fff;
	font-size: 12px;
	background: none;
	display: inline-block;

}


.grid3 {


display: grid;
/* 2 columnas */

grid-template-columns: 33% 33% 33%  	;

/* 2 filas */
grid-template-rows: 100%;

grid-column-gap: 20px: 


}

.grid3 {

	font-size: 12px;
}

.destacamos p{
	font-size: 14px;
	font-weight:normal;
}
.destacamos h2 {
	font-size: 48px;
	font-weight: bolder;
	font-family:'Roboto', sans-serif;
}
.destacamos h5 {
	font-size: 48px;
	font-weight:bolder ;
}

.destacamos ul li {
	display: inline-block
	;
	font-size: 14px;

	text-align: center;
	text-decoration: none;
	padding: 10px 5px;
}

.galeria {

	background-image: url(../imagenes/1048.jpg);
	background-position:50% 50%;
}

.galeria h2{
	
	font-size: 48px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}

}
.galeria h4 {
	font-size: 14px;
	font-weight: normal;
	background-color: none;
}
.galeria h5 {
	font-size: 24px;
	color: #fff;
}


.contactanos h6 {
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}
.contactanos p{
	font-size: 14px;
	text-align: center;
}


.formulario {
	text-align: center;

}

.formulario input {
	background-color: #000022;
	color:#fff;
	border-radius: 5px;
}
.formulario textarea{
	background-color: #000022;
	color: #FFF;
	border-radius: 5px;
}

